<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
<title>info@2dcloud.com</title>
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<style>
:root{--height:calc({% assign i = 0 %}{% paginate collections['all'].products by 1000 %}{% for product in collections["all"].products %}{% assign i = i | plus: 1 %}{% endfor %}{% endpaginate %}{{ i }} * 100px);}
*{font-size:inherit;font-weight:normal;}
img,canvas,video{max-width: 100%;max-height: 100%;}
details[open]{background:white;}
#menu{position:fixed;z-index:2;top:0;right:0;}
summary#total::before{content:" cart"}
.qty{max-width: 2em;}
</style>
{{ 'scroll.css' | asset_url | stylesheet_tag }}
{{content_for_header}} 
</head>
<body><script>let products = [];let listcss = "{{ 'list.css' | asset_url}}";let scrollcss = "{{ 'scroll.css' | asset_url}}"</script>
<details id="menu"><summary>view</summary><div><input type="radio" id="scroll" name="view" data-url="{{ 'scroll.css' | asset_url}}" checked> <label for="scroll">scroll</label></div><div><input type="radio" id="list" name="view" data-url="{{ 'list.css' | asset_url}}"> <label for="list">list</label></div> </details>

<details id="cart" class="hidden" hidden><summary id="total"></summary><form class="checkout" action="/cart" method="post" novalidate><input type="submit" name="checkout" value="checkout"></form>
{% paginate collections['all'].products by 1000 %}{% for product in collections["all"].products %}
{% if product.has_only_default_variant %} <div class="hidden" hidden><input class="qty" value="1" type="tel"></input>{% for variant in product.variants %}{% if variant.available %}<button data-id="{{ variant.id}}" data-price="{{ variant.price }}" class="buy">remove </button>{% endif %}{% endfor %}{{ product.title }} {{ product.price | money }} </div>
{% else %}{% for variant in product.variants %}{% if variant.available %}<div class="hidden" hidden><input class="qty" value="1"></input><button data-id="{{ variant.id}}" data-price="{{ variant.price }}" class="buy">remove </button>{{ product.title }} {% assign vsplits = variant.title | split: " " %}{% for vsplit in vsplits %}{{ vsplit | slice: 0 | upcase }}{% endfor %} {{ product.price | money }} </div>{% endif %}{% endfor %}{% endif %}
{% endfor %}{% endpaginate %}
</details>

{% paginate collections['all'].products by 1000 %}{% for product in collections["all"].products %}
<details class="d" data-handle="{{ product.handle }}"><summary>{{ product.title }} {{ product.price | money }}{% for variant in product.variants %}{% if variant.available %}<button data-id="{{ variant.id}}" data-price="{{ variant.price }}" class="buy">buy{% unless product.has_only_default_variant %} {% assign vsplits = variant.title | split: " " %}{% for vsplit in vsplits %}{{ vsplit | slice: 0 | upcase }}{% endfor %}{% endunless %} </button>{% endif %}{% endfor %}</summary>
{% for media in product.media %}{% case media.media_type %}{% when 'video' %}{{ media | video_tag: controls: true, image_size: "1280x" }}`{% when 'image' %}<img src='{{ media | image_url: width: 1280}}'>{% endcase %}{% endfor %}
{{ product.description }}</details>
{% endfor %}{% endpaginate %}

<canvas id="canvas"></canvas>
{{ "script.js" | asset_url | script_tag }}
{{ content_for_layout }}
</body>
</html>